<div>
  <nav class="navbar" th:fragment="navbar">
    <div class="logo">
      <h1>a</h1>
    </div>
    <button class="menu-btn" onclick="toggleMenu()"><i class="fa-solid fa-bars"></i></button>
    <ul sec:authorize="isAuthenticated()" id="menu-options" class="menu-links hidden">
      <li><a href="#"><span sec:authentication="principal.attributes['nickname']"></span></a></li>
      <li><a href="/posts">My feed</a></li>
      <li><a href="#">Friend requests</a></li>
      <li><a href="#">DMs</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
    <ul th:unless="${#authorization.expression('isAuthenticated()')}" id="menu-options" class="menu-links hidden">
      <li><a href="/oauth2/authorization/okta">Log In / Sign Up</a></li>
      <li><a href="/posts">See what's happening</a></li>
    </ul>
  </nav>
  <div class="spacer-navbar"></div>
  <script>
    function toggleMenu() {
        const menu = document.getElementById('menu-options');
        menu.classList.toggle('hidden');
    }
  </script>
</div>
