<div class="feed">
    <div th:each="post: ${posts}">
        <div class="card" th:id="'post-' + ${post.id}" th:data-post-id="${post.id}" th:data-liked="${post.liked}">
            <div class="card-top">
                <div class="poster-info">
                    <h3><span th:text="${post.nickname}"></span> posted</h3>
                    <h5 th:text="${post.timeSince(currentTime)}"></h5>
                </div>
                <p class="post-content" th:text="${post.content}"></p>
            </div>
            <div class="card-bottom">
                <div class="icon-group like-group">
                    <a href="#" class="like-button"><i class="fa-regular fa-thumbs-up"></i></a>
                    <p>Like</p>
                </div>
                <div class="icon-group liked-group">
                    <a href="#" class="liked-button"><i class="fa-solid fa-thumbs-up"></i></a>
                    <p>Liked</p>
                </div>
                <div class="icon-group">
                    <a href="#"><i class="fa-regular fa-comment"></i></a>
                    <p>Comment</p>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        const protocol = window.location.protocol;
        const root = window.location.host;

        document.addEventListener('DOMContentLoaded', function() {
            const likeButtons = document.querySelectorAll('.like-button');

            likeButtons.forEach(likeButton => {
                const card = likeButton.closest('.card');
                const likeGroup = card.querySelector('.like-group');
                const likedGroup = card.querySelector('.liked-group');
                const likedButton = likedGroup.querySelector('.liked-button');

                const likedByUser = card.dataset.liked;
                const postId = card.dataset.postId;

                if (likedByUser == "true") {
                    likeGroup.classList.add('hidden');
                } else {
                    likedGroup.classList.add('hidden');
                }

                likeButton.addEventListener('click', function(event) {
                    event.preventDefault(); // Don't reload the page.

                    fetch(`${protocol}//${root}/likes/${postId}`, {
                        method: 'POST'
                    })
                    .then(response => {
                        if (response.ok) {
                            console.log('Like processed successfully');
                        }
                    })
                    .catch(error => {
                        console.error('Error processing like:', error);
                    });

                    likeGroup.classList.toggle('hidden');
                    likedGroup.classList.toggle('hidden');
                });

                likedButton.addEventListener('click', function(event) {
                    event.preventDefault(); // Don't reload the page.

                    fetch(`${protocol}//${root}/likes/${postId}`, {
                        method: 'DELETE'
                    })
                    .then(response => {
                        if (response.ok) {
                            console.log('Un-like processed successfully');
                        }
                    })
                    .catch(error => {
                        console.error('Error processing un-like:', error);
                    });

                    likeGroup.classList.toggle('hidden');
                    likedGroup.classList.toggle('hidden');
                });
            });
        });
    </script>
</div>