body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h3 {
    font-size: 18px;
    font-weight: normal;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

h5 {
    color: #A5A5A5;
    font-size: 12px;
    font-weight: normal;
}

h6 {
    font-size: 14px;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    width: 100vw;
}

.card-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(16px, 2vw, 36px);
    width: 100%;
}

.card {
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}

.card-button {
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid black;
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 8px;
    width: 100%;
}

.button {
    font-size: 16px;
    border-radius: 16px;
    border: 1px solid black;
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 16px;
    margin-bottom: 40px;
}

.button:hover {
    background-color: #D9D9D9;
}

.icon-group {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-group > * {
    color: black;
    margin: 0 4px;
}

.no-margin {
    margin: 0 !important;
}

/* NAVBAR */

.navbar {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    margin: 0px;
    z-index: 5;
}

.spacer-navbar {
    height: 104px;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

.logo h1 {
    margin: 8px 16px;
}

.hidden {
    display: none !important;
}

/* Menu Button Styling */
.menu-btn {
    margin: 16px;
    font-size: 40px;
    width: 72px;
    height: 72px;
    border: 1px solid black;
    border-radius: 8px;
}

/* Dropdown Menu Styling */
.menu-links {
    list-style: none;
    position: absolute;
    top: 96px; /* Adjust this value based on header height */
    right: 16px;
    background-color: #F5F5F5;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Menu item styling */
.menu-links li {
    padding: 12px 16px;
}

.menu-links li a {
    color: black;
}

.menu-links li a:hover {
    color: #D9D9D9;
}

/* SIDEBAR */

.sidebar {
    height: 100vh;
    width: 280px;
    padding: 32px;
    border-right: 1px solid #D9D9D9;
}

.position-fixed {
    position: fixed;
}

.spacer-sidebar {
    width: 344px;
}

.sub-menu {
    display: flex;
    align-items: center;
}

.sub-menu > *:first-child {
    margin-left: 0px !important;
}

.sub-menu > * {
    color: black;
    margin: 0 8px;
}

/* MAIN WINDOW */

.main-window {
    margin: 32px;
    box-sizing: content-box;
    width: 100%;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.section-header a {
    color: black;
    margin-bottom: 32px;
}

.section-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 296px;
    width: 216px;
    padding: 16px;
}

/* FRIENDS */

.search-bar {
    display: flex;
    align-items: center;
    height: 36px;
    font-size: 16px;
    color: #A5A5A5;
    background-color: #F5F5F5;
    border-radius: 16px;
    margin: 16px 0;
}

.search-bar input {
    border: none;
    background-color: #F5F5F5;
    font-size: 16px;
    margin-left: 4px;
}

.search-bar i {
    margin-left: 8px;
}

.friends-container {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid #D9D9D9;
}

.how-many-friends {
    margin-bottom: 8px;
}

.friend-card {
    display: flex;
    position: relative;
    width: 288px;
    left: -16px;
    align-items: center;
    height: 64px;
    padding: 4px 12px;
    border-radius: 8px;
}

.friend-card:hover {
    background-color: #F5F5F5;
}

.friend-card i {
    font-size: 24px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 50%;
}

.friend-info {
    margin-left: 16px;
}

.card-body {
    flex-grow: 1;
}

.card-info {
    margin-bottom: 16px;
}

.card-avatar {
    margin-bottom: 16px;
    text-align: center;
}

.card-avatar i {
    font-size: 96px;
    padding: 24px 32px;
    border: 1px solid black;
    border-radius: 50%;
}

.card-buttons-vertical {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* POSTS */

.container-posts {
    width: 100%;
    padding: 32px 20%;
}

.poster-info {
    margin-bottom: 8px;
}

.post-content {
    padding: 4px 0;
}

.post-edit {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.post-edit-form {
    flex-grow: 1;
    margin-right: 12px;
}

.post-edit-input {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    font-size: 16px;
    border: 1px dotted #D9D9D9;
    outline: none;
}

.card-top {
    padding: 12px 16px;
}

.card-bottom {
    border-top: 1px solid #D9D9D9;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-post {
    width: 100%;
    padding: 12px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-post {
    height: 40px;
    flex-grow: 1;
    margin: 0 8px;
    border-radius: 16px;
    border: none;
    background-color: #F5F5F5;
    padding: 0 16px;
    font-size: 16px;
}

.submit-post {
    height: 40px;
    padding: 0 16px;
    border: 1px solid black;
    background-color: white;
    border-radius: 16px;
    font-size: 20px;
}

.who-liked-this {
    margin-top: 16px;
}

.who-liked-this:empty {
    margin-top: 0 !important;
}

.post-mgmt-icons > * {
    cursor: pointer;
    font-size: 20px;
    color: #A5A5A5;
    margin-left: 4px;
}

.edit-card > i {
    font-size: 16px;
    transform: translateY(-2px);
}

/* COMMENTS */
.comment-header {
    margin-top: 16px;
    margin-bottom: 4px;
}

.comment-body {
    margin-left: 16px;
}

.comment-box {
    margin-top: 12px;
}
