body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    margin: 0px;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

.logo h1 {
    margin: 8px;
}

.hidden {
    display: none;
}

/* Menu Button Styling */
.menu-btn {
    margin: 16px;
    font-size: 40px;
    width: 72px;
    height: 72px;
    border: 1px solid black;
    border-radius: 8px;
}

/* Dropdown Menu Styling */
.menu-links {
    list-style: none;
    position: absolute;
    top: 96px; /* Adjust this value based on header height */
    right: 16px;
    background-color: #F5F5F5;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Menu item styling */
.menu-links li {
    padding: 12px 16px;
}

.menu-links li a {
    text-decoration: none;
    color: black;
}

.menu-links li a:hover {
    color: #D9D9D9;
}


/* POSTS */
.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;;
}
